
:root {
  --f2e98-logo: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3e%3cpath fill='currentColor' fill-rule='evenodd' d='M0 15.936C0 2.813 2.813 0 15.936 0h16.128C45.187 0 48 2.813 48 15.936v16.128C48 45.187 45.187 48 32.064 48H15.936C2.813 48 0 45.187 0 32.064V15.936Zm30.6 5.93-3.067-3.2L23.8 22.4l3.2 3.067L16.467 36l3.6 3.733 14.266-14.266-3.733-3.6ZM23.8 25.6l-3.733 3.733-3.067-3.2-3.733-3.6L27.533 8.267l3.6 3.733L20.6 22.533l3.2 3.067Z' clip-rule='evenodd'/%3e%3c/svg%3e");
  --f2e98-scissors: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M7.236 7a3 3 0 1 0-4.472-4 3 3 0 0 0 4.472 4Zm0 0L20 18M7.236 17a3 3 0 1 1-4.472 4 3 3 0 0 1 4.472-4Zm0 0L20 6'/%3e%3c/svg%3e");
}

[data-f2e98] {
  width: 1em;
  height: 1em;
  display: block;
}

.is-inline {
  display: inline-block;
  vertical-align: -0.125em;
}

.has-gradient {
  --direction: to bottom;
  --from: currentColor;
  --to: currentColor;

  background-image: linear-gradient(var(--direction), var(--from), var(--to));
}

[data-f2e98="logo"] {
  mask-image: var(--f2e98-logo); mask-size: 100% 100%; background-color: currentColor;
}
[data-f2e98="scissors"] {
  mask-image: var(--f2e98-scissors); mask-size: 100% 100%; background-color: currentColor;
}
